:root {
  /* --primary: #f49097;
  --primary-light: #fcd6da;
  --primary-dark: #a04e56;
  --primary-contrast-light: #fff;
  --primary-contrast-dark: #111; */

  --primary: #ff9800;
  --primary-light: #ffe0b2;
  --primary-dark: #c66900;
  --primary-contrast-light: #fff;
  --primary-contrast-dark: #222;
  --background: #fff;
  --surface: #fff7f0;
  --text-primary: #222;
  --text-secondary: #ff9800;
}
