.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--hover);
    font-size: 3rem;
    color: var(--text-primary);
}
.button {
    background-color: var(--primary-contrast-dark);
    color: var(--primary);
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: var(--primary-light);
    transform: scale()
}