.productCard {
  border: 0.25rem solid var(--primary);
  border-radius: 1.5rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--gray-100);
  max-width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productImage {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: contain;
  border-radius: 0.75rem;
  background-color: white;
}


.productTitle {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
}

.productDescription {
  font-size: 1.4rem;
  color: var(--primary-dark);
  margin-bottom: 1rem;
}

.productPrice {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1.2rem 0;
}

.productButton {
  background-color: var(--primary-light);
  color: var(--gray-900);
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  transition: background-color 0.3s ease;
}

.productButton:hover {
  background-color: var(--primary-dark);
}

.counterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.counterButton {
  padding: 1rem 2rem;
  font-size: 2.2rem;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--gray-900);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.counterButton:hover {
  background-color: var(--primary-dark);
}

.counterText {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--primary-dark);
}
