/* Estilo para o Contêiner Principal */
.container {
    display: grid; /* Ativa o display de grade */
    max-width: 1200px; /* Define uma largura máxima para o contêiner */
    margin: 0 auto; /* Centraliza o contêiner na página */
    padding: 20px; /* Adiciona um padding interno ao contêiner */
    grid-template-area: 
    "header1"
    "main"
    "footer";}
/* Estilos para a Seção Principal (main) */
.main {
    padding: 40px 0; /* Padding superior e inferior para a seção principal */
    min-height: calc(100vh - 180px); /* Garante que a seção principal ocupe a altura restante da tela, ajustando para header e footer */
}

/* Estilos para a Grade de Cards */
.grid {
    display: grid; /* Ativa o display de grade */
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Cria colunas responsivas, com mínimo de 280px */
    gap: 20px; /* Espaçamento entre os itens da grade */
}

/* Estilos para os Cards Individuais */
.card {
    background-color:var(--background); /* Cor de fundopara os cards */
    border-radius: 8px; /* Borda arredondada para os cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para os cards */
    padding: 20px; /* Padding interno para os cards */
    text-align: center; /* Centraliza o texto dentro dos cards */
    transition: transform 0.3s ease; /* Adiciona uma transição suave para o efeito hover */
}
.card:hover {
    transform: translateY(-5px); /* Efeito de leve levantamento ao passar o mouse */
}

